<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="	https://www.kleipc.edu.in/images/demo/contact-us.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">CONTACT PAGE FOR HELP</h5>
        <p class="card-text"> Our contacts details are given as </p>
        <p class="card-text"> ----Thanks for Contacting us------  </p>
        <p class="card-text">-----------we are here to solve your problems as well as your enquiry. ---------  </p>
        <p class="card-text"> contact no :- +91 9876543210  </p>
        <p class="card-text"> Email id :- srecord@gmail.com  </p>
        <p> Address :- Vijay Nagar ,  Indore ,India </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <p> 
        
        
        
        
        
      </div>
    </div>
  </div>
</div>

