
<h1>** Here are some information regarding uses of this application.</h1><br>
<div class="container">
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Serial Number</th>
      <th scope="col">Dependency</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>StudentCan see their Own record</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ProfessorCan see record of all the students</td>
      
    </tr>
    
  </tbody>
</table>

</div>


                   