<footer class="page-footer raju" >          
  <div class="container"> 
    <div class="row">              
      <div class="col l6 s12">                
        <h5 class="white-text">Student Record Application</h5>                
        <p class="grey-text text-lighten-4">To see the details of the Student.</p>              
      </div>              
      
      <div class="col l4 offset-l2 s12">                
        <h5 class="white-text">IMPORTANT LINKS</h5>                
        <ul>                  
          <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>                  
          <li><a class="grey-text text-lighten-3" href="#!">Comments</a></li>                  
          <li><a class="grey-text text-lighten-3" href="#!"></a>Contact Us</li>                
        </ul>              
      </div>            
    </div>          
  </div>          
  
  <div class="footer-copyright">            
    <div class="container">            
      © 2022 Copyright Text            
    </div>          
  </div>
</footer>